= stylesheet_link_tag    "home"

%h1.title Welcome to my Music App

%h5 "You know what to do!"

= image_tag "/images/photo_yea.JPG", width: 700
// %img{ :src => "/images/photo_yea.JPG"}

%p
= link_to "Sign Up", :signup_path, class: "btn btn-danger"
|
= link_to "Login", :login_path, class: "btn btn-danger"
